.Container {
  margin-top: 20px;
}

.uploadFrame {
  /* border: 2px solid; */
  padding: 20px;
  min-height: 600px;
  width: 100%; 
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #F4F4F4;
}

.uploadText {
  margin-top: 50%;
  opacity: 0.5;
}

.upload {
margin-left: 20%;
opacity: 0.5;
}

.frameConfig {
  margin-top: 20px;
  border: 2px solid;
  width: 70%;
  margin-left: 20%;
  padding: 20px;
}

.config {
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

.count {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 2px solid green;
  border-radius: 5px;
}

form select,
form input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

form select {
  appearance: none;
  background-size: 16px;
  background-position-x: calc(100% - 10px);
  text-align: center;
}

form select::-ms-expand {
  display: none;
}

.h2-text {
  margin-left: -20%;
}

.h2-text-file {
  margin-left: -25%;
}

.file {
  padding: 5px;
  background-color: #F4F4F4;
  width: auto;
  max-width: 50%;
  
}
.modal-header {
  background-color: #045a2f; /* Header background color */
  color: #fff; /* Header text color */
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}
.modal-header-error {
  background-color: #b72a0a; /* Header background color */
  color: #fff; /* Header text color */
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.notification {
  float: right;
  padding: 10px;
  color: green;
  background-color: #ccc;
}



.sodu{
  margin-right: 10%;
}

.sotrangin{
  margin-left: 10%;
}

.btn-cp{
  margin-bottom: 10px;
  width: 100%;
  padding: 12px;
  border: 2px solid blue;
  border-radius: 5px;
  text-decoration: none;
}

.printconfig {
  /* display: flex; */
  border: 1px solid black;
  padding: 20px;
  min-height: 100px;
  height: 215px;
  /* width: 100%;  */
  float: left;
  /* margin-bottom: 20px;
  margin-top: 20px; */
  /* background-color: #F4F4F4; */
  border-radius: 10px;
}

#text {
color: #FFF;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 106.667% */
letter-spacing: 0.6px;
text-transform: uppercase;
text-align: center;
}
#text_list {
    color: var(--gray-900, #171C26);
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
letter-spacing: 0.28px;
text-transform: uppercase;
padding: 2px;
}
#text_r {
background-color: #3C8DBC;
width: 120px;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}
#text_full {
background-color: #ef5350;
width: 120px;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}#text_cd {
background-color: #E9E910;
width: 120px;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}


.status-indicator {
    text-align: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    
}

.status-indicator.ĐANG-ĐẦY {
    background-color: red; /* Màu tương ứng với trạng thái "ĐANG ĐẦY" */
    margin-right: 10px;
    
}

.status-indicator.Printing {
    background-color: green; /* Màu tương ứng với trạng thái "ĐANG TRỐNG" */
    margin-right: 10px;
}

.status-indicator.CHƯA-ĐẦY {
    background-color: yellow; /* Màu tương ứng với trạng thái "CHƯA ĐẦY" */
    margin-right: 10px;
}

.status-indicator.Idle {
    background-color:rgb(94, 94, 92); /* Màu tương ứng với trạng thái "CHƯA ĐẦY" */
    margin-right: 10px;
}

.modal-header {
  background-color: #045a2f; /* Header background color */
  color: #fff; /* Header text color */
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}
.modal-header-error {
  background-color: #b72a0a; /* Header background color */
  color: #fff; /* Header text color */
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}
