

body {
  margin: 0;
}

.container {
    /* margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; */
    
    .wd {
      background-color: white;
      /* display: flex; */
      /* justify-content: space-between; */
      /* align-items: stretch; */
      /* padding: 0 1rem; */
      text-align: center;
      font-family: "Open Sans",Arial,sans-serif;
      margin-top: 22px;
    
  .a{
    /* display: block ; */
    border-radius: 8px;
    background-color: #F4F4F4;
    color: #3C8DBC;
    text-decoration: none;
   
  }
  
  
  
    }
    
   
}

.lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
    .login{
    border-radius: 8px;  
    text-align: center;
    background-color: #3C8DBC;
    color: white;
    text-decoration: none;
    width: 157px;
    height: 38px;
    flex-shrink: 0;  
    color: #F4F4F4;

    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.18px;
    
  }
 

.site-title {
  font-size: 20px;
}

