body {
  margin: 0;
}

.container {
  /* Adjustments for responsiveness */
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wd {
  background-color: white;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 22px;
}

.a {
  border-radius: 8px;
  background-color: #f4f4f4;
  color: #3c8dbc;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 90px;
  border: 0.5px solid black;
}

.lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.print {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #3c8dbc;
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
  text-decoration: none;
  border: none;
}

.styles {
  background: none;
  text-decoration: none;
  border: none;
  font-size: 18px;
}

.login {
  border-radius: 8px;
  text-align: center;
  background-color: #3c8dbc;
  color: white;
  text-decoration: none;
  width: 157px;
  height: 38px;
  flex-shrink: 0;
  color: #f4f4f4;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
}

.site-title {
  font-size: 20px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .header {
    height: auto;
  }

  .lg {
    flex-direction: row;
    align-items: center;
  }

  .print,
  .styles,
  .login {
    width: 100%;
    margin-top: 10px;
  }
}
